@font-face {
  font-family: "Overpass";
  src: url('../src/constants/fonts/Overpass-Regular.woff2') format('woff2'),
  url('../src/constants/fonts/Overpass-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url('../src/constants/fonts/Overpass-SemiBold.woff2') format('woff2'),
  url('../src/constants/fonts/Overpass-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-bkgMain: #528F63;
  --color-bkgWhite: #C3D8C9;
  --color-darkGreen: #347446;
  --color-lightGreen:#7eb58e;
  --color-font:#0C0C0C;
  --color-fontDisabled: rgba(12,12,12,0.63);
  --color-greenTransparent: rgba(82,143,99,0.65)
}

html {
  /* 62.5% of 16px = 10px. So anythin 1rem is 10px */
  font-size: 62.5%;height: 100%;
  max-height: 100%;
}

body{      
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color:var(--color-font);
  background-color: var(--color-bkgMain);
  user-select: none; height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,h2{
  margin: 0 
}

h1 {
  font-size: 3.4rem; 
  /* font-weight: bold; */
}

h2{
  font-size:3rem; 
  /* font-weight: bold; */
}

p{
  margin:0;
}

img{
  -webkit-user-drag: none;
}

a{
  color:unset;
}

.font--disabled{
  color:var(--color-fontDisabled)
}

.font--bold{
  font-weight: bold;
}
.font--small{
  font-size: 1.8rem;
}

.icon--medium {
  width:30px;
  height:30px;
}

.icon--dark {
  fill:var(--color-font)
}

.link--nounderline{
  text-decoration: none;
}
  
.bkg--white{
  background-color: var(--color-bkgWhite);
}

.notfound{
  background-image: url("./constants/corner.png");
  background-repeat: no-repeat;
  background-size: 40%;
  height:100%;display: flex;
  align-items: center;
  justify-content: center;flex-direction: column;
  gap: 1rem;
}


.home{
  background-image: url("./constants/corner.png");
  background-repeat: no-repeat;
  background-size: 40%;
  height:100%;
  display:grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template: repeat(3, auto)/25% 50%;
  grid-template-areas: "profile description" "divider divider" "options options";
  gap: 2rem;
}

.home-profile{
  grid-area: profile;
  border-radius: 75px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-description{
  grid-area: description;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.home-divider{
  grid-area: divider;
  width: 100%;
}

.home-options{
  grid-area: options;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12rem;
  margin: 2rem;
}

.home-options  div{
  background:var(--color-lightGreen);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:120px;
  height:85px;
  justify-content: center;
}


.main{
  height:100%;
  display: grid;
  grid-template: 1fr/ 300px 1fr;
  grid-template-areas: "side main";
}

.sidebar{
  grid-area: side;
  background-image: url("./constants/corner.png");
  background-repeat: no-repeat;
  background-size: 50%;
  display: grid;
  grid-template: repeat(3, auto) /1fr;
  grid-template-areas:
      "profile"
      "divider"
      "options";
  align-content: center;
  align-self: flex-start;
  padding-top: 4rem;
  gap:3rem;
}

.sidebar-image{
  grid-area: profile;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sidebar-image > img{
  border-radius: 50px;
  width: 100%;    
  max-width: 190px;
}

.sidebar-divider{
  width: 90%;
  justify-self: center;
}

.sidebar-optionsContainer{
  grid-area: options;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.sidebar-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-option-text { 
  width: 100%;
}

.sidebar-option-underline {    
  width: 130px;
  height: 18px;
}

.sidebar-option-underline > img{  
  height: 100%;
  width: 100%;
}

.about{
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
}

.about-mainText >p {
  margin-bottom:2rem
}

.iconLine{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact{
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 4rem;
  align-items: center;
}

.contact-title{
  margin-bottom: 2rem;
  padding-top: 4rem;
}

.contact-itemContainer{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact-item{
  display: grid;
  grid-template: repeat(2, auto) / 40px auto;
  grid-template-areas:
      "logo title"
      "logo link";
}

.contact-item-logo{
  grid-area: logo;
}

.contact-item-title{
  grid-area: title;
}

.contact-item-link{
  grid-area: link;
  
}

.projects-summary{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.project-summary-item{
  background-color: var(--color-greenTransparent);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 335px;
  display: grid;
  padding: 2rem;
  grid-template: auto 1fr auto/auto;
  gap: 2rem;
  justify-items: center;
}

.project-badgeContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  
}

.badge{
  background-color: var(--color-darkGreen);
  border-radius: 20px;
  padding: 0 1rem;
  min-width: 25px;
}

.projects{
  overflow: scroll;
  display: flex;    
  align-content: stretch;
  flex-wrap: wrap;
}

.project-detail{
  background-color: var(--color-greenTransparent);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  margin: 3rem;
}

.project-detail-title{
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}

.project-detail-title > svg{
  position: absolute;
  left: 1rem;
  cursor: pointer;
  top: 15%;
}

/* .project-detail-desktop-right{
  display: grid;
  grid-template: 1fr/40% 30% 30%;
  align-items: center;
}

.project-detail-desktop-right img{
  width:100%;
}

.project-detail-desktop-left{
  display: grid;
  grid-template: 1fr/30% 60%;
  align-items: center;
}

.project-detail-desktop-left img{  
  width:100%;
} */

.project-detail-desktop-row{
  display: grid;
  grid-template: 1fr/ repeat(3, 30%);
  justify-content: space-evenly;
}


.project-detail-desktop-row img{
  width:100%;
}

.project-detail-singleImage{
  width: 70%;
  max-width: 700px;
}

.project-detail-3d-row{
  display: grid;
  grid-template: 1fr/ repeat(2, 30%);
  justify-content: space-evenly;
}


.project-detail-3d-row img{
  width:100%;
}